@import "tailwindcss";
* {
  scrollbar-width: thin;
  scrollbar-color: #bebebe transparent;
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src:
    url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Satoshi-Variable.ttf") format("ttf");
}

@theme {
  --font-satoshi:
    "Satoshi", "system-ui", "-apple-system", "BlinkMacSystemFont", "Arial",
    "sans-serif";
}

.nav-link {
  @apply font-satoshi flex w-[206px] items-center gap-3 py-[10px] pl-3 text-xs leading-[18px] tracking-normal;
}

.date-text {
  @apply font-satoshi text-[11px] text-[#121212];
}
